.git
.gitignore
.env
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
env
frontend/node_modules
frontend/dist
backend/media/audio/*
backend/media/video/*
backend/media/images/*
!backend/media/.gitkeep
backend/tests
.system_generated
